<div  class="container-fluid mt-3 px-5">
	<ul class="nav nav-tabs" id="myTab" role="tablist">
	  <li class="nav-item">
		<a class="nav-link " routerLinkActive="active"  id="employees-tab"  routerLink="/employees" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Employees</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLinkActive="active"  id="projects-tab" routerLink="/projects" data-toggle="tab"  role="tab" aria-controls="profile" aria-selected="false">Projects</a>
	  </li>
	</ul>
	<div class="tab-content" id="myTabContent">
  		<router-outlet></router-outlet>
	</div>
</div>